version: '3.8'
services:
  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - '6379:6379'
    restart: always

  chat-backend-1:
    container_name: chat-backend-1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8081:8081'
    depends_on:
      - redis
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - CHAT_PORT=8081

  chat-backend-2:
    container_name: chat-backend-2
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8082:8082'
    depends_on:
      - redis
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - CHAT_PORT=8082
